<div class="container">
  <h1>Login</h1>
  <form #loginForm="ngForm">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" required [(ngModel)]="testUser.name">
      TODO: Remove This: {{ testUser.name }}
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" required>
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>